html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
	background-color: #f5f5f5;
}

body {
	font: 18px/1.5 Georgia, serif;
	max-width: 50rem;
	margin: 50px auto;
	background-color: white;
	padding: 2rem;
}

h1 {
	color: #ff0c38;
}

h2 {
	color: #3fa45a;
}

img {
	height: 1em;
}
